<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/blog/css/styles.css">
    <title>{{ title }}</title>
    <base href="/blog">
</head>
<body>
    {% include "navbar.njk" %}
    <header>
        <h1>{{ title }}</h1>
    </header>
    <main>
        {{ content }}
    </main>
</body>
</html>